<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head" lang="en">
        <title>ChatApp</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--<link type="text/css"href="${pageContext.request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />-->
        <!--<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" type="text/css"/>-->
    </head>
    <body>
        <div th:fragment="header">
            <div sec:authorize="hasRole('USER')">
                <nav sec:authorize="isAuthenticated()" class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <p class="navbar-brand">WebChat</p>
                        </div>

                        <div class="collapse navbar-collapse" id="navigation">

                            <ul class="nav navbar-nav">
                                <li><a th:href="@{/}">Index</a></li>
                            </ul> 

                            <ul class="nav navbar-nav">
                                <li><a th:href="@{/info}">Info</a></li>
                            </ul> 

                            <ul class="nav navbar-nav">
                                <li>   
                                    <a href="#" onclick="document.getElementById('logout-form').submit();">Log out</a>
                                    <form  style="visibility: hidden" id ="logout-form" method="POST" th:action="@{/logout}">
                                        <input type="submit" value="logout"/>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>
            </div>
        </div>   
    </body>
</html>