<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>ChatApp</title>
        <meta charset="UTF-8" />
        <link href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css" />
        <link href="../../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <h2>Welcome to the info page of this chatroom app!</h2>

        <h3>About:</h3>

        <p>This is a chatroom application created in order to get a job.<br/>
            The main culprit: <a href="https://www.reaktor.com/careers/summer/">https://www.reaktor.com/careers/summer/</a>
        </p>

        <h3>Info on usage of this app:</h3>
        <p>A user of this app is required to log in with an account which 
            can be created <a th:href="@{/signup}">here.</a></p>
        <p>A user can create his own chatrooms and invite other users
            to a chatroom the user belongs to, provided he knows their usernames.</p>
        <p>Chatrooms can be left via the "leave" button, however a chatroom will be 
            destroyed if the are no users left in the chatroom</p>
        <p>Users may also be added as friends in order to remember your friends' usernames and easily add them to chatrooms (upcoming feature).</p>

    </body>
</html>
