<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Login</title>
        <meta charset="UTF-8" />
        <link href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css" />
        <link href="../../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

    </head>
    <body>
    
        <div class="container-fluid">
            <h2>Log in</h2>

            <form method="POST" th:action="@{/authenticate}">
                <input type="text" name="username" id="username" placeholder="username"/>
                <input type="password" name="password" id="password" placeholder="password"/>
                <input type="submit" value="log in"/>
            </form>
            
            <div class="fb-login-button"></div>

            <br/>
            <a th:href="@{/signup}">Don't have an account?</a>  
            <br/>

            <p>Example accounts for testing</p>
            <ul>
                <li>dan g00dPazzwurd!?</li>
                <li>juan JuanLikesD0gs</li>
                <li>mike C0m=An*G37MEHAKKARZ*!$€</li>
            </ul>

        </div>
    </body>
</html>
