<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Signup</title>
        <meta charset="UTF-8" />
        <link href="../../static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css" />
        <link href="../../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

    </head>
    <body>
        <div class="container-fluid">
            <h2>Sign up</h2>
            <h3 th:text="${signupMessage}"/>
            <form action="#" th:action="@{/signup}" th:object="${user}" method="POST">
                <p>Name:</p>
                <input type="text" th:field="*{name}" placeholder="your name"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <p>Username:</p>
                <input type="text" th:field="*{username}" placeholder="username"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                
                <p>Email:</p>
                <input type="text" th:field="*{email}" placeholder="email@domain.com"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{email}"></p>
                
                <p>Password:</p>
                <input type="password" th:field="*{password}" placeholder="password"/>
                <p th:text="${passwordErrorMessage}"></p>
                <pre>The password must be at least 8 characters long 
and must contain upper and lower case letters
and at least one number or one of the following special
characters: _!%.,+-*?$€@^
                </pre>
                <input type="submit" value="sign up"/>
            </form>
            <a th:href="@{/login}">Already have an account?</a>
        </div>

    </body>


</html>

